<h4><span id='patientName' ' name='patientName'>Loading Patient...</span></h4>
<div>
	<p>DOB: <span id='patientDob' name='patientDob'></span></p>
</div>
	@section scripts
{

	<script src='@Url.Content("~/js/my-fhir-client.js")'></script>

	}